# DATABASE
DATABASE_URL=

# CONFIGURATIONS

EMAIL_VERIFICATION_CALLBACK_URL=
BACKEND_URL=
FRONTEND_URL=
NODE_ENV=dev
SERVER_PORT=3005

# SMTP

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_TLS=true
